{% extends '@AdminLTE/FOSUserBundle/Security/login.html.twig' %}

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="{{ asset('build/images/logo_small.png') }}">
{% endblock %}

{% block title %}UDAL Online | Iniciar sesión{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block stylesheets_page %}
	<style>
		.login-box{
			margin: 0% auto;
		}
		.login-logo{
			margin-bottom: 40px !important;
		}
	</style>
{% endblock %}

{% block logo_login %}
    <p><img class="logo" src="{{ asset('build/images/logo.png') }}" style="width: 80%;"></p>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}